<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
       
        

        <template>
            <v-app id="inspire">
              <v-main>
                <v-container
                  class="fill-height"
                  fluid
                >
                  <v-row
                    align="center"
                    justify="center"
                  >
                    <v-col
                      cols="12"
                      sm="10"
                      md="3"
                    >
                    <form action="." method="post">
                      <v-card class="elevation-12">
                        <v-toolbar
                          color="primary"
                          dark
                          flat
                        >
                          <v-toolbar-title>Signup - User creation </v-toolbar-title>
                          <v-spacer></v-spacer>
                          <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                              <v-btn
                                :href="source"
                                icon
                                large
                                target="_blank"
                                v-on="on"
                                href="https://github.com/Tuxus01/Task"
                              >
                                <v-icon>mdi-code-tags</v-icon>
                              </v-btn>
                            </template>
                            <span>Source</span>
                          </v-tooltip>
                        </v-toolbar>
                      
                        <v-card-text>
                         
                            {% csrf_token %}
                            <v-text-field
                              label="Username"
                              name="username"
                              id="username"
                              v-model="username"
                              :rules="usernameRules"
                             :counter="10"
                              prepend-icon="mdi-account"
                              type="text"
                              autocomplete="off"
                            ></v-text-field>
                           
        
                            <v-text-field
                              label="First name"
                              name="first_name"
                              id="first_name"
                              prepend-icon="mdi-account-plus"
                              type="text"
                              autocomplete="off"
                            ></v-text-field>
        
                            <v-text-field
                              label="Last name"
                              name="last_name"
                              id="last_name"
                              prepend-icon="mdi-account-plus"
                              type="text"
                              autocomplete="off"
                            ></v-text-field>
        
        
                            <v-text-field
                              label="Email"
                              name="email"
                              id="email"
                              v-model="email"
                              :rules="emailRules"
                              prepend-icon="mdi-email"
                              type="email"
                              autocomplete="off"
                            ></v-text-field>
          
                            <v-text-field
                              id="password1"
                              label="Password"
                              name="password1"
                              v-model="password1"
                              prepend-icon="mdi-lock"
                              type="password"
                              
                            ></v-text-field>
                            
                           
        
                            <v-text-field
                            id="password2"
                            label="Repeat password"
                            name="password2"
                            v-model="password2"
                            prepend-icon="mdi-lock"
                            type="password"
                            
                          ></v-text-field>
        
                        <v-alert
                            v-if="Validar_Contra"
                            dense
                            outlined
                            type="error"
                            >
                            [[Validar_Contra]]
                        </v-alert>
                         
        
                        <v-alert
                            v-if="Validar_Contra_seguridad" 
                            dense
                            outlined
                            type="info"
                            >
                            [[Validar_Contra_seguridad]]
                        </v-alert>
        
        
                       
                         
                        </v-card-text>
                       
        
                        <v-card-actions >
                          <v-spacer></v-spacer>
                          <v-btn block type="submit" color="primary">Create and Login</v-btn>
                        </v-card-actions>
                        <v-card-actions>
                            <v-btn block href="/login" color="warning">Login</v-btn>
                         </v-card-actions>
                       
                      </v-card>
                    </form>
                    </v-col>
                  </v-row>
                </v-container>
              </v-main>
            </v-app>
          </template>
    
    
    </v-app>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://momentjs.com/downloads/moment.js"></script>

  <script>
    
      
    new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        vuetify: new Vuetify(),
        data: {
              //Reglas para validar usuario en singin

                valid: false,
                password2:'',
                password1:'',
                username: '',
                usernameRules: [
                    v => !!v || 'Name is required',
                    v => v.length <= 10 || 'Name must be less than 10 characters',
                ],
                email: '',
                emailRules: [
                    v => !!v || 'E-mail is required',
                    v => /.+@.+/.test(v) || 'E-mail must be valid',
                ],


        },
        computed:{
            Validar_Contra: function () {
                var id = ""
                if((this.password1 != "") && (this.password2 != "") ){
                  if (this.password2 != this.password1) {
                    id = "Passwords do not match"
                    
                    return id
                  }
                }
              },
      
              Validar_Contra_seguridad: function () {
                var id = ""
                //return id
                if(this.password1 != ''){
                  if (this.password1.length < 8) {
                    id = 'Too short'
                    return id
                  }
                  if (!this.password1.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/)){
                  id = 'for security add Uppercase and Lowercase Letters, Example = Admin@1234'
                  return id
                }
               
      
                
                }
                
               
                 
              },
        },
        mounted() {
           
        },
        filters: {

            dateF: function (value) {
                if (value) {
                    return moment(String(value)).format('MM/DD')
                }
            },
    
            timeF: function (value) {
                
                if (value) {
                    return moment(value, "HH:mm:ss").format("HH:MM A");
                }
            },
        },
        methods: {
         
        },
    })
  </script>

</body>
</html>